In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [22]:
df = pd.read_csv('multiple-lr-data.csv')
df.head()

   age  credit-rating  children         loan
0   19         27.900         0  16884.92400
1   18         42.130         1   1725.55230
2   28         33.000         3   4449.46200
3   33         22.705         0  21984.47061
4   32         28.880         0   3866.85520

In [23]:
y = df['loan']
x = df[['age','credit-rating','children']]

In [24]:
# define the multiple Linear regression model
linear_regress = LinearRegression()

In [25]:
# Fit the multiple Linear regression model
linear_regress.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
# predict with the data
y_pred = linear_regress.predict(x)

In [27]:
y_pred

array([ 6905.67009648, 11905.93561283, 12380.97319543, ...,
        9619.93282423,  6693.03658583, 17384.88715381])

In [28]:
mean_squared_error(y, y_pred)

128979704.46042567